In [4]:
x = obj2['California']
x

nan

In [5]:
x != obj2['California']

True

In [1]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [6]:
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [8]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [10]:
S.loc['2']

'Bob'

In [11]:
S

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object

In [12]:
S.index

Index(['1', '2', '3', '4', '5'], dtype='object')

In [13]:
S.reset_index()

  index      0
0     1  Alice
1     2    Bob
2     3   Rita
3     4  Molly
4     5   Ryan

In [14]:
S

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object

In [15]:
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})
s2[1] # 默认用iloc

2

In [17]:
s2.iloc[1]

2

In [18]:
s2.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [19]:
s2.loc['Alice']

1

In [22]:
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s = s1.append(s2)
s1

1    Alice
2     Jack
3    Molly
dtype: object

In [21]:
for item in s1.iteritems():
    print(item)

(1, 'Alice')
(2, 'Jack')
(3, 'Molly')

In [23]:
s

1        Alice
2         Jack
3        Molly
Alice        1
Jack         2
Molly        3
dtype: object